.sidebarContainer {
  display: flex;
  min-height: 100vh;
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #add8e6;
  box-shadow: 8px 10px;
  order: -1;
}

.sidebarItem {
	font-family: Arial;
	font-size: 4em;
	color: red;
	font-style: italic;
	align-content: center;
	flex-wrap: wrap;
	overflow: hidden;
}