.sidebarContainer {
  display: flex;
  min-height: 100vh;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #add8e6;
  color: green;
}

.sidebarHm {
	float: left;
	color: blue;
	align-content: center;
}

.sidebarItem {
	font-family: Arial;
	font-size: 10em;
	padding: 5vh;
	color: red;
	font-style: italic;
	align-content: center;
	flex-wrap: wrap;
}